<div class="flexy">
  <div *ngFor="let oneContact of contacts" class="each">
    <h2>{{oneContact.name}}</h2>
    <p><img src={{oneContact.image}}></p>
    <p>Phone: {{oneContact.phoneNumber}}</p>
    <p>Email: {{oneContact.email}}</p>
    <br />
  </div>
</div>

<div>
  <label for="contact-name">Name:</label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email:</label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone:</label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image URL:</label>
  <input type="text" [(ngModel)]="newContact.image">
</div>



<button (click)="addContact()">Submit New Contact</button>
